@model DomowaBibliotekaCore.Models.CombinedDataModels

@{
    ViewBag.Title = "Create";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Mężczyzna",
        Value = "Mężczyzna"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Kobieta",
        Value = "Kobieta"
    });
}

<h2>Dodaj książkę</h2>

@using (Html.BeginForm("Create", "Books", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Książka</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Tytuł")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Books.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Books.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Gatunek")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Genres.genre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Genres.genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cykl")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Series.series, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Series.series, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rok wydania")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Books.year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Books.year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Opis")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Books.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Books.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Okładka")
            <div class="col-md-10">
                <input id="cover" type="file" name="cover" />
                @Html.ValidationMessageFor(model => model.cover, "", new { @class = "text-danger" })
            </div>
        </div>
        @* -----------------------------------------------------------------------------------*@
        <h4>Autor</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Imię")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors.firstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nazwisko")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors.lastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Data urodzenia")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors.birthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors.birthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Miejsce urodzenia")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors.birthPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors.birthPlace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Płeć")
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Authors.sex, listItems, "-- Wybierz płeć --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Biografia")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Authors.BIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Authors.BIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zdjęcie")
            <div class="col-md-10">
                <input id="photo" type="file" name="photo" />
                @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@Html.Partial("_Authors_Partial", Model)
        <div id="someDiv">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="Button1" value="Dodaj kolejnego autora" />
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Index")
</div>